@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="/Home/About">our application</a>.</p>
    <p>Contact us <a href="/Home/Contact">here</a>.</p>
</div>